{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Хотите удалить товар {{object.title}}</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Подтвердить</button>
                        <a href="{% url 'article:articles' %}" type="button" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}