{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ product_item.name }}</h3>
                </div>
                <div class="card-body">
                    <img src= "{{ product_item.image|mymedia }}" height="200" class="img">
                    <h3 class="card-title pricing-card-title">{{ product_item.price }} руб.</h3>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ product_item.description }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}